body {
    width: 800px;
    margin: auto;
    background-color: azure;
 }
 main {
     text-align: center;
 }
 .gridbox{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 25px 0px 25px 0px;
     color: rgba(254, 254, 255, 0);
 }
 .griditem {
     width: 90%;
     height: 180px;
     border: 3px solid rgb(233, 21, 226);
     background-color: antiquewhite;
     border-radius: 25px;
     padding: 5px;
     margin: 10px;
     justify-content: center;
     align-items: center;
 }
 h1 {
     color: #ca3edf;
     animation: colorFade 3s infinite;
     font-family: 'DynaPuff', cursive;
     font-size: 3rem;
 }
 
 @keyframes colorFade {
     10% {
         color: rgb(38, 50, 218);
     }
     30% {
         color: rgb(247, 0, 255);
     }
     45%  {
         color: rgb(154, 64, 162);
     }
     65% {
         color: rgb(215, 26, 187);
     }
     
 }
 
 .bottom-stats{
     display: flex;
     justify-content: space-evenly;
     color: rgb(194, 9, 250);
     animation: colorFade 3s infinite;
     font-family: 'DynaPuff', cursive;
     font-size: 1.25rem;
 }
 
 .button-1 {
     background-color: #ca3edf;
     border-radius: 8px;
     border-style: none;
     box-sizing: border-box;
     color: #FFFFFF;
     cursor: pointer;
     display: inline-block;
     font-family: 'DynaPuff', cursive;
     font-size: 14px;
     font-weight: 500;
     height: 40px;
     line-height: 20px;
     list-style: none;
     margin: 0;
     outline: none;
     padding: 10px 16px;
     position: relative;
     text-align: center;
     text-decoration: none;
     transition: color 100ms;
     vertical-align: baseline;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
   }
   
   .button-1:hover,
   .button-1:focus {
     background-color: #b532e9;
   }
 
 .drawCross {
     background-image: url(./images/cross.png);
 }